@charset "UTF-8";
/*
@media screen and (max-width: 1374px){
	transition: $transNormal;
}//@media screen and (max-width: 1374px)
@media screen and (max-width: 916px){
	transition: $transNormal;
}//@media screen and (max-width: 1374px)
@media screen and (max-width: 736px){
	transition: $transNormal;
}//@media screen and (max-width: 1374px)
*/
@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  100% {
    display: block;
    opacity: 1;
  }
  1% {
    display: block;
    opacity: 0;
  }
  0% {
    display: none;
    opacity: 0;
  }
}
@keyframes fade-out {
  100% {
    display: block;
    opacity: 1;
  }
  1% {
    display: block;
    opacity: 0;
  }
  0% {
    display: none;
    opacity: 0;
  }
}
.clearfix {
  overflow: hidden;
  zoom: 1;
  clear: both;
}

body {
  background-image: url(../img/common/bg.jpg);
  overflow-x: hidden;
}

main {
  display: block;
}

h1 {
  margin: 40px auto 30px;
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  margin: 90px 0 40px;
  padding: 20px 40px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.6;
  color: #e11f6a;
  text-align: center;
  background: url(../img/postdata_h2_bg.jpg);
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5);
}

h3 {
  font-size: 2rem;
  line-height: 2;
  margin: 80px 40px 30px;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
  color: #e11f6a;
  border-bottom: 1px solid #e11f6a;
}

@media screen and (max-width: 736px) {
  h3 {
    margin: 40px 20px 30px;
  }
}
h4, h5, h6 {
  font-size: 1.8rem;
  line-height: 1.8;
  margin: 80px 40px 30px;
  font-weight: bold;
  text-align: center;
  color: #e11f6a;
}

@media screen and (max-width: 736px) {
  h4, h5, h6 {
    margin: 40px 20px 30px;
  }
}
div {
  margin: 0 0 40px 0;
}

p {
  font-size: 1.8rem;
  line-height: 2;
  margin: 0 80px 25px;
}

@media screen and (max-width: 916px) {
  p {
    margin: 0 40px 25px;
  }
}
@media screen and (max-width: 736px) {
  p {
    margin: 0 20px 30px;
  }
}
ruby {
  font-size: 1.8rem;
  line-height: 2;
}

blockquote {
  margin: 0 10px 50px 0;
  padding: 40px 20px 20px 20px;
  border-left: 5px solid #b9b9b9;
  font-size: 1.8rem;
  line-height: 2;
  color: #666;
  font-style: italic;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 736px) {
  blockquote {
    margin: 0 10px 25px;
  }
}
blockquote::before, blockquote::after {
  font-size: 6rem;
  opacity: 0.5;
  color: #898989;
  position: absolute;
  clear: both;
  display: block;
}

blockquote::before {
  content: "“";
  top: -5px;
}

blockquote::after {
  content: "”";
  right: 10px;
  bottom: -30px;
}

blockquote p {
  word-wrap: break-word;
}

table {
  margin: 0 40px 40px;
  background: url(../img/table_bg.jpg);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.8rem;
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 736px) {
  table {
    margin: 0 20px 20px;
  }
}
table tr th, table tr td {
  padding: 7px 12px;
  border-right: 1px solid #c8c8c8;
  vertical-align: middle;
  text-align: left;
  background: url(../img/widget_h_line.png) repeat-x;
  font-size: 1.6rem;
}

table tr th:last-child, table tr td:last-child {
  border: none;
}

table tr th {
  font-weight: bold;
  background-color: rgba(207, 207, 207, 0.5);
}

table tr td::before, table tr td::after {
  content: "";
  height: 15px;
  border: none;
  display: table-cell;
}

@media screen and (max-width: 736px) {
  table {
    width: 95%;
    margin: 0 auto 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    clear: both;
  }

  table thead {
    display: block;
    float: left;
    overflow-x: scroll;
  }

  table tbody {
    display: block;
    width: auto;
    overflow-x: auto;
    white-space: nowrap;
  }

  table tr {
    display: inline-block;
    margin: 0 -3px;
  }

  table tr th, table tr td {
    padding: 20px;
  }

  table tr th:last-child, table tr td:last-child {
    border-right: 1px solid #c8c8c8;
  }

  table tr th {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }

  table tr td {
    display: block;
  }

  table tr td:first-child {
    text-align: left;
  }

  table tr td::before, table tr td::after {
    height: auto;
  }
}
img {
  max-width: 100%;
  height: 100%;
}

@media screen and (max-width: 916px) {
  img {
    max-width: 320px;
  }
}
ul, ol {
  margin: 0 80px 15px 100px;
  padding: 0 0 15px 20px;
  font-size: 1.6rem;
  line-height: 1.5;
}

ul:last-child, ol:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1374px) {
  ul, ol {
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}
@media screen and (max-width: 916px) {
  ul, ol {
    margin: 0 40px 15px 60px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}
@media screen and (max-width: 736px) {
  ul, ol {
    margin: 0 20px 20px 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}
ul li, ol li {
  padding-top: 10.5px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
  line-height: 1.8;
}

dl {
  margin: 0 40px 40px;
  font-size: 1.8rem;
  line-height: 1.7;
}

dl dt {
  font-weight: bold;
  margin-bottom: 10px;
}

dl dd {
  margin-left: 20px;
}

@media screen and (max-width: 736px) {
  dl {
    margin: 0 20px 20px;
  }
}
pre {
  width: 100%;
  padding: 20px 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: pre;
  word-wrap: break-word;
  overflow-x: scroll;
  font-family: "Source Sans Pro", sans-serif;
  background: url(../img/widget_h_line.png) repeat-x bottom #fff;
  margin-bottom: 20px;
  font-size: 1.6rem;
  line-height: 1.8;
}

@media screen and (max-width: 916px) {
  pre {
    padding: 40px;
  }
}
@media screen and (max-width: 736px) {
  pre {
    padding: 20px;
  }
}
code {
  font-family: "Source Sans Pro", sans-serif;
  padding: 3px 5px;
}

strong {
  font-weight: bold;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

address {
  padding-left: 40px;
}

iframe {
  max-width: 100%;
}

.imgauto {
  width: auto;
  height: auto;
}

.wp-block-video {
  padding: 0 40px;
}

@media screen and (max-width: 1374px) {
  .wp-block-video {
    padding: 0 20px;
  }
}
@media screen and (max-width: 736px) {
  .wp-block-video {
    padding: 0;
  }
}
.wp-block-video video {
  padding: 0;
}

.hcb_wrap pre::before {
  background-color: #dedede;
}

.hcb_wrap pre::before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 4em;
  padding: 0 10px;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 20px;
  text-align: center;
  content: attr(data-lang);
}

.hcb_wrap pre.prism, .hcb_wrap pre.prism code {
  color: #1f1e1e;
  text-shadow: 0 1px #fff;
  background: #f7f6f6;
}

.hcb_wrap pre.line-numbers {
  position: static;
  padding-left: 3.75em;
  counter-reset: linenumber;
}

.hcb_wrap .line-numbers .line-numbers-rows {
  position: absolute;
  top: -2px;
  left: -3.75em;
  width: 3em;
  font-size: inherit;
  letter-spacing: -1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.line-numbers .line-numbers-rows {
  border-right: 1px solid #999;
}

.hcb_wrap code, .hcb_wrap span {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: inherit;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
}

.hcb_wrap pre.prism {
  overflow-x: scroll;
  white-space: pre;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Yu Mincho", "YuMincho", "ＭＳ Ｐ明朝", "MS PMincho", "メイリオ", Meiryo, sans-serif;
  color: #333;
}

.required {
  color: #f00;
}

body {
  background-color: #eaeae8 !important;
  background-image: none !important;
}
/*# sourceMappingURL=editor-style.css.map */
