<article class="lout-archive-contents">

	<section class="mod-archive-postdata">
		<div class="mod-archive-postdata-box">
			<img src="img/eyecatch_old.jpg" alt="" class="eyecatch">
			<div class="mod-container">
				<time class="mod-title-line-time" datetime="2015-11-29">Mar 19, 2015</time>
				<h2 class="mod-title-line-title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
				<ul class="mod-title-line-meta">
					<li>
						<dl>
							<dt>カテゴリ：</dt>
							<dd><a href="#">design</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>タグ：</dt>
							<dd><a href="#">design</a></dd>
							<dd><a href="#">design</a></dd>
							<dd><a href="#">design</a></dd>
						</dl>
					</li>
				</ul>
			</div><!--/.mod-container-->
		</div><!--/.lout-archive-contents-postdata-box-->
		<div class="mod-archive-postdata-morebox">
			<% include _content-end-share.ejs %>
			<p class="mod-archive-text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
			<div class="mod-next-bt"><a href="single.html">続きを読む →</a></div>
		</div><!--/.lout-archive-contents-postdata-morebox-->
	</section><!--/.mod-archive-postdata-->

	<section class="mod-archive-postdata">
		<div class="mod-archive-postdata-box">
			<img src="img/eyecatch_sample.jpg" alt="" class="eyecatch">
			<div class="mod-container">
				<time class="mod-title-line-time" datetime="2015-11-29">Mar 19, 2015</time>
				<h2 class="mod-title-line-title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
				<ul class="mod-title-line-meta">
					<li>
						<dl>
							<dt>カテゴリ：</dt>
							<dd><a href="#">design</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>タグ：</dt>
							<dd><a href="#">design</a></dd>
							<dd><a href="#">design</a></dd>
							<dd><a href="#">design</a></dd>
						</dl>
					</li>
				</ul>
			</div><!--/.mod-container-->
		</div><!--/.lout-archive-contents-postdata-box-->
		<div class="mod-archive-postdata-morebox">
			<% include _content-end-share.ejs %>
			<p class="mod-archive-text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
			<div class="mod-next-bt"><a href="single.html">続きを読む →</a></div>
		</div><!--/.lout-archive-contents-postdata-morebox-->
	</section><!--/.mod-archive-postdata-->
	<nav class="lout-pagination">
		<div class='wp-pagenavi'>
			<span class='pages'>Page : 1 / 17</span>
			<span class='current'>1</span>
			<a class="page larger" href="singe.html">2</a>
			<a class="page larger" href="singe.html">3</a>
			<a class="page larger" href="singe.html">4</a>
			<a class="page larger" href="singe.html">5</a>
			<a class="page larger" href="singe.html">6</a>
			<a class="page larger" href="singe.html">7</a>
			<a class="page larger" href="singe.html">8</a>
			<a class="nextpostslink" rel="next" href="singe.html">
			<span>Next</span> »</a>
		</div>
	</nav>
</article><!--/.lout-main-contents-->