<div class="lout-main-contents-postdata-sub lout-content-ad">
	<h2 class="mod-content-sub-title">Ad</h2>
	<ul>
		<li><img src="img/content_ad.jpg" alt=""></li>
		<li><img src="img/content_ad.jpg" alt="">
	</ul>
</div>