<article class="lout-main-contents">
	<section class="lout-main-contents-postdata">
		<img src="img/eyecatch.jpg" alt="" class="eyecatch">
		<h2>見出しh2が入ります。見出しh2が入ります。見出しh2が入ります。見出しh2が入ります。見出しh2が入ります。見出しh2が入ります。見出しh2が入ります。見出しh2が入ります。</h2>
		<h3>見出しh3が入ります。見出しh3が入ります。見出しh3が入ります。見出しh3が入ります。見出しh3が入ります。見出しh3が入ります。</h3>
		<h4>見出しh4が入ります。見出しh4が入ります。見出しh4が入ります。見出しh4が入ります。見出しh4が入ります。見出しh4が入ります。</h4>
		<h5>見出しh5が入ります。見出しh5が入ります。見出しh5が入ります。見出しh5が入ります。見出しh5が入ります。見出しh5が入ります。見出しh5が入ります。</h5>
		<h6>見出しh6が入ります。見出しh6が入ります。見出しh6が入ります。見出しh6が入ります。見出しh6が入ります。見出しh6が入ります。見出しh6が入ります。</h6>
		<p></p>
		<blockquote cite="http://example.com/facts">
			<p>引用文が入ります。</p>
		</blockquote>
		<blockquote cite="http://example.com/facts">
			<p>引用文が入ります。引用文が入ります。引用文が入ります。引用文が入ります。引用文が入ります。引用文が入ります。引用文が入ります。引用文が入ります。引用文が入ります。引用文が入ります。引用文が入ります。引用文が入ります。引用文が入ります。引用文が入ります。引用文が入ります。引用文が入ります。</p>
		</blockquote>
		<table>
			<thead>
				<tr>
					<th>テーブル見出し1</th>
					<th>テーブル見出し2</th>
					<th>テーブル見出し3</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>テーブルtd</td>
					<td>テーブルtd</td>
					<td>テーブルtd</td>
				</tr>
				<tr>
					<td>テーブルtd</td>
					<td>テーブルtd</td>
					<td>テーブルtd</td>
				</tr>
			</tbody>
		</table>
		<table>
			<tbody>
				<tr>
					<th>テーブル見出し</th>
					<td>テーブルtd</td>
					<td>テーブルtd</td>
					<td>テーブルtd</td>
				</tr>
				<tr>
					<th>テーブル見出し</th>
					<td>テーブルtd</td>
					<td>テーブルtd</td>
					<td>テーブルtd</td>
				</tr>
				<tr>
					<th>テーブル見出し</th>
					<td>テーブルtd</td>
					<td>テーブルtd</td>
					<td>テーブルtd</td>
				</tr>
				<tr>
					<th>テーブル見出し</th>
					<td>テーブルtd</td>
					<td>テーブルtd</td>
					<td>テーブルtd</td>
				</tr>
			</tbody>
		</table>

		<img src="img/eyecatch.jpg" alt="" width="600" class="alignleft">
		<img src="img/eyecatch.jpg" alt="" width="600" class="aligncenter">
		<img src="img/eyecatch.jpg" alt="" width="600" class="alignright">

		<ul class="clearfix">
			<li>リスト</li>
			<li>リスト</li>
			<li>リスト</li>
			<li>リスト</li>
		</ul>
		<ol>
			<li>リスト</li>
			<li>リスト</li>
			<li>リスト</li>
			<li>リスト</li>
			<li>リスト</li>
		</ol>
		<dl>
			<dt>見出し</dt>
			<dd>説明テキスト</dd>
		</dl>
		<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
		<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
		<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>

		<% include _content-ad.ejs %>
		<% include _content-end-share.ejs %>

	</section><!--/.lout-main-contents-postdata-->

	<% include _related.ejs %>
	<div class="deco"><img src="img/flower.png" alt=""></div>
	<% include _comment.ejs %>

</article><!--/.lout-main-contents-->