<header class="lout-header">
	<div class="lout-main">
		<div class="mod-container">
			<nav class="lout-main-navi">
				<ul>
					<li class="mod-main-navi-1"><a href="#">About</a></li>
					<li class="mod-main-navi-2"><a href="#">Twitter</a></li>
					<li class="mod-main-navi-3"><a href="#">Facebook</a></li>
					<li class="mod-main-navi-4"><a href="#">Rss</a></li>
				</ul>
			</nav>
			<h1 class="mod-sitelogo"><a href="/"><img src="../img/common/head_logo.png" alt="YATのBlog"></a></h1>
			<form class="mod-site-search" action="">
				<label for="mod-site-search-inputarea">Search</label>
				<input type="text" name="search-box" id="mod-site-search-inputarea" class="mod-site-search-inputarea">
				<input id="mod-site-search-inputbt" type="submit" value="送 信" class="mod-site-search-inputbt">
			</form>
		</div><!--/.mod-container-->
		<p class="mod-headside-text"><img src="img/common/head_side_text.png" alt="Web制作を行う全ての方へ"></p>
	</div>
</header><!--/.lout-header-->