<section class="lout-related mod-main-content-sub">
	<h2 class="mod-main-content-sub-h">Related</h2>
	<ul class="mod-related">
		<li class="mod-related-item">
			<a href="#">
				<dl>
					<dt><img src="img/related_banner.jpg" alt=""></dt>
					<dd>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>
				</dl>
			</a>
		</li>
		<li class="mod-related-item">
			<a href="#">
				<dl>
					<dt><img src="img/related_banner.jpg" alt=""></dt>
					<dd>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>
				</dl>
			</a>
		</li>
		<li class="mod-related-item">
			<a href="#">
				<dl>
					<dt><img src="img/related_banner.jpg" alt=""></dt>
					<dd>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>
				</dl>
			</a>
		</li>
		<li class="mod-related-item">
			<a href="#">
				<dl>
					<dt><img src="img/related_banner.jpg" alt=""></dt>
					<dd>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>
				</dl>
			</a>
		</li>
	</ul>
</section>