	<ul class="mod-container metasns">
		<li class="hateb"><a href="http://b.hatena.ne.jp/entry/<?php the_permalink(); ?>" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
	<li class="twtterb"><a class="twbt" target="_blank" href="http://twitter.com/?status=RT: <?php echo urlencode( the_title( "" , "" , 0 ) ); ?> :YATのBLOG <?php the_permalink() ?>"></a><a target="_blank" href="http://twitter.com/?status=RT: <?php echo urlencode( the_title( "" , "" , 0 ) ); ?> :YATのBLOG <?php the_permalink() ?>" class="attr"><span>
<!-- 	<?php
		$pmlink = get_permalink();
		tweet_count( $pmlink );
	?>
 --></span></a><img src="<?php bloginfo('template_directory'); ?>/img/share/meta_tw_03.png" width="10" height="20" alt="" class="btend"></li>
<!--	<li class="twtterb"><a class="twbt" href="><?php the_permalink() ?>"></a></li>-->
	<li class="googleplusb"><g:plusone size="medium" href="<?php the_permalink() ?>"></g:plusone><script type="text/javascript">window.___gcfg = {lang: 'ja'};(function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();</script></li>
	<li class="likeb"><iframe src="http://www.facebook.com/plugins/like.php?href=<?php echo urlencode(get_permalink($post->ID)); ?>&amp;layout=button_count&amp;show_faces=false&amp;width=52&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none;overflow:hidden;height:20px;" allowTransparency="true"></iframe></li>
	</ul>
