<div class="lout-sidebar">
	<dl class="mod-widget">
		<dt class="mod-widget-title">Advertisement</dt>
		<dd class="mod-widget-body">
			<a href="http://rish-design.com" target="_blank">
				<img src="../img/rish-design_banner.jpg" alt="">
				<p>フリーランスとして独立しました。Webサイトの構築から、運用のご相談まで承っております。</p>
			</a>
		</dd>
	</dl>
	<dl class="mod-widget">
		<dt class="mod-widget-title">RecentPosts</dt>
		<dd class="mod-widget-body">
			<p><a href="http://rish-design.com" target="_blank">リアルな表現が素敵なスキュアモーフィックデザインに関する考察</a> <time class="mod-widget-posttime" datetime="2015-02-10">2015年2月10日</time></a></p>
			<p><a href="http://rish-design.com" target="_blank">リアルな表現が素敵なスキュアモーフィックデザインに関する考察</a> <time class="mod-widget-posttime" datetime="2015-02-10">2015年2月10日</time></a></p>
			<p><a href="http://rish-design.com" target="_blank">リアルな表現が素敵なスキュアモーフィックデザインに関する考察</a> <time class="mod-widget-posttime" datetime="2015-02-10">2015年2月10日</time></a></p>
		</dd>
	</dl>
	<dl class="mod-widget">
		<dt class="mod-widget-title">RecentPosts</dt>
		<dd class="mod-widget-body">
			<p><a href="http://rish-design.com" target="_blank">リアルな表現が素敵なスキュアモーフィックデザインに関する考察</a> <time class="mod-widget-posttime" datetime="2015-02-10">2015年2月10日</time></a></p>
			<p><a href="http://rish-design.com" target="_blank">リアルな表現が素敵なスキュアモーフィックデザインに関する考察</a> <time class="mod-widget-posttime" datetime="2015-02-10">2015年2月10日</time></a></p>
			<p><a href="http://rish-design.com" target="_blank">リアルな表現が素敵なスキュアモーフィックデザインに関する考察</a> <time class="mod-widget-posttime" datetime="2015-02-10">2015年2月10日</time></a></p>
		</dd>
	</dl>
</div>