<div class="mod-title-line">
	<div class="mod-container">
		<time class="mod-title-line-time" datetime="2015-11-29">Mar 19, 2015</time>
		<h2 class="mod-title-line-title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
		<ul class="mod-title-line-meta">
			<li>
				<dl>
					<dt>カテゴリ：</dt>
					<dd><a href="#">design</a></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>タグ：</dt>
					<dd><a href="#">design</a></dd>
					<dd><a href="#">design</a></dd>
					<dd><a href="#">design</a></dd>
				</dl>
			</li>
		</ul>
	</div><!--/.mod-container-->
</div><!--/.mod-title-line-->
<div class="mod-content-share">
	<% include _share-body.ejs %>
</div><!--mod-content-share-->
