<!DOCTYPE html>
<html lang="ja">
<head>
<% include _meta %>
</head>
<body class="top">
<!--↓read-temlatefile-->
<% include _head %>
<% include _title-line-top %>

<main class="lout-main">
	<% include _archive-content %>
	<% include _sidebar %>
</main>

<!--↓read-temlatefile-->
<% include _foot %>

</body>
</html>
