<!DOCTYPE html>
<html lang="ja">
<head>
<% include _meta %>
</head>
<body class="single">
<!--↓read-temlatefile-->
<% include _head %>
<% include _title-line-single %>

<main class="lout-main">
	<% include _content %>
	<% include _sidebar %>
</main>

<!--↓read-temlatefile-->
<% include _foot %>

</body>
</html>
