@use "../define/variable";
@use "../define/mixins";
@use "sass:math";

.lout-footer {
	width: 100%;
	margin-top: 100px;
	background: url(../img/common/footer_bg.jpg);
	@include mixins.reset;
	clear: both;
	// float: left;
	.lout-footer-tagcloud {
		width: variable.$pcContentWid;
		padding-bottom: 40px;
		margin-top: 70px;
		background: url(../img/common/footer_tagcloud_bg.jpg);
		position: relative;
		box-sizing: border-box;
		float: left;
		@media #{ variable.$pcBreak }{
			width: variable.$pcContentWid;
			transition: variable.$transNormal;
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$tbBreak }{
			width: variable.$tbContentWid;
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$smBreak }{
			width: variable.$smContentWid;
		}//@media #{ variable.$pcBreak }
		&::before, &::after {
			width: variable.$pcContentWid;
			position: absolute;
			@include mixins.beforeafter;
		}
		&::before {
			width: 100%;
			height: 24px;
			top: -20px;
			background: url(../img/common/footer_tagclud_top.png) repeat-x;
		}
		&::after {
			width: 100%;
			height: 12px;
			bottom: -12px;
			background: url(../img/common/footer_tagclud_bottom.png) repeat-x;
			overflow: hidden;
		}
		.lout-footer-tagcloud-h {
			padding: 25px 0 35px 0;
			font-size: 2.0rem;
			font-family: variable.$hwebfont;
			@media #{ variable.$smBreak }{
				padding-left: 100px;
			}
			&::before {
				width: 276px;
				height: 163px;
				top: -50px;
				left: -160px;
				background: url(../img/common/footer-tagcloud-l.png);
				position: absolute;
				@include mixins.beforeafter;
				z-index: 15;
				@media #{ variable.$pcBreak }{
					transition: variable.$transNormal;
				}//@media #{ variable.$pcBreak }
				@media #{ variable.$tbBreak }{
					transition: variable.$transNormal;
				}//@media #{ variable.$pcBreak }
				@media #{ variable.$smBreak }{
					width: math.div(276, 2)+px;
					top: 0px;
					left: -60px;
					background-repeat: no-repeat;
					background-size: contain;
					transition: variable.$transNormal;
				}//@media #{ variable.$pcBreak }
			}
			&::after {
				width: 138px;
				height: 126px;
				top: -50px;
				right: -10px;
				background: url(../img/common/footer-tagcloud-r.png);
				position: absolute;
				@include mixins.beforeafter;
				z-index: 15;
				@media #{ variable.$pcBreak }{
					transition: variable.$transNormal;
				}//@media #{ variable.$pcBreak }
				@media #{ variable.$tbBreak }{
					transition: variable.$transNormal;
				}//@media #{ variable.$pcBreak }
				@media #{ variable.$smBreak }{
					width: math.div(138, 2)+px;
					top: 5px;
					right: 0;
					background-repeat: no-repeat;
					background-size: contain;
					transition: variable.$transNormal;
				}//@media #{ variable.$pcBreak }

			}
		}//.lout-footer-tagcloud-h
		.tagcloud {
			margin: 0 40px 40px;
			text-align: left;
			a {
				margin: 0 15px 15px 0;
				padding: 5px 10px;
				text-align: center;
				background: #ece6dd;font-family: variable.$hwebfont;
				font-size: 1.4rem;
				color: #595959;
				text-decoration: none;
				box-shadow: 0 2px 2px rgba(0,0,0, 0.2);
				display: inline-block;
				@include mixins.weget-bt;
			}//li
			@media #{ variable.$pcBreak }{
				transition: variable.$transNormal;
			}//@media #{ variable.$pcBreak }
			@media #{ variable.$tbBreak }{
				transition: variable.$transNormal;
			}//@media #{ variable.$pcBreak }
			@media #{ variable.$smBreak }{
				margin: 0 auto 40px;
				padding: 20px;
				transition: variable.$transNormal;
			}//@media #{ variable.$pcBreak }
		}//ul
	}//.lout-footer-tagcloud
	.lout-footer-auth {
		width: variable.$pcSideWid;
		padding: 65px 0;
		float: right;
		@media #{ variable.$pcBreak }{
			width: variable.$pdSideWid;
			margin: auto;
			float: none;
			clear: both;
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$tbBreak }{
			width: variable.$tbSideWid;
			padding: 65px 40px 0;
			box-sizing: border-box;
			float: none;
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$smBreak }{
			width: variable.$smSideWid;
			float: none;
		}//@media #{ variable.$pcBreak }
		.lout-footer-auth-h {
			margin-bottom: 10px;
			padding: 0 0 0 50px;
			font-size: 2.4rem;
			color: #fff;
			font-family: variable.$hwebfont;
			background: url(../img/common/footer_auth_key.png) no-repeat;
			text-align: left;
		}//.lout-footer-auth-h
		dl {
			@media #{ variable.$smBreak }{
				text-align: center;
				float: none;
				display: block;
			}
			dt {
				width: 219px;
				height: 182px;
				margin-bottom: 20px;
				background: #fff;
				text-align: center;
				overflow: hidden;
				&::before {
					width: 219px;
					height: 182px;
					background: url(../img/common/footer_auth_frame.png) no-repeat;
					@include mixins.beforeafter;
					position: absolute;
					z-index: 20;
				}
				img {
					width: 65%;
					height: auto;
					margin: auto;
					top: 20px;
					position: relative;
					z-index: 15;
				}
				@media #{ variable.$pcBreak }{
					margin-right: 20px;
					float: left;
				}//@media #{ variable.$pcBreak }
				@media #{ variable.$tbBreak }{
					margin: 0 auto 20px;
					float: none;
				}//@media #{ variable.$pcBreak }
				@media #{ variable.$smBreak }{
					text-align: center;
					float: none;
					display: block;
				}//@media #{ variable.$smBreak }
			}//dt
			dd {
				color: #fff;
				line-height: 1.7;
				font-size: 1.4rem;
				text-align: left;
				a {
					margin: auto;
					color: #ccc;
					&:hover {
						color: #fff;
					}
				}
				@media #{ variable.$pcBreak }{
				}//@media #{ variable.$pcBreak }
				@media #{ variable.$tbBreak }{
					text-align: left;
				}//@media #{ variable.$pcBreak }
				@media #{ variable.$smBreak }{
				}//@media #{ variable.$smBreak }
			}
		}//dl
	}//.lout-footer-auth
	.lout-copyright {
		margin: 0 auto;
		text-align: center;
		font-family: variable.$hwebfont;
		@media #{ variable.$pcBreak }{
			transition: variable.$transNormal;
			left: -230px;
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$tbBreak }{
			transition: variable.$transNormal;
			left: -380px;
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$smBreak }{
			transition: variable.$transNormal;
			left: -480px;
		}//@media #{ variable.$pcBreak }
		.lout-copyright-body {
			padding: 30px 0;
			font-size: 2.0rem;
			color: #ccc;
			clear: both;
			display: block;
		}
	}
}//lout-footer
