@use "../define/variable";
@use "../define/mixins";

.lout-header {
	margin: 0 auto;
	text-align: center;
	position: relative;
	overflow: hidden;
	.mod-container {
		margin: 0;
		padding: 30px 0;
		background: #fff;
		background-color: rgba(255,255,255,0.50);
		@media #{ variable.$pcBreak }{
			width: variable.$pcContentWid;
			transition: variable.$transNormal;
			margin: auto;
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$tbBreak }{
			width: variable.$tbContentWid;
			transition: variable.$transNormal;
			margin: 0;
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$smBreak }{
			width: variable.$smMainWid;
			transition: variable.$transNormal;
			margin: 0;
		}//@media #{ variable.$pcBreak }
	}
	&::before,
	&::after {
		width: 541px;
		height: 299px;
		position: absolute;
		img { overflow: hidden; }
		@include mixins.beforeafter;
	}
	&::before {
		top: 0;
		left: 0;
		background: url(../img/common/head_deco_left.png) no-repeat;
		overflow: hidden;
		transition: variable.$transNormal;
		@media #{ variable.$pcBreak }{
			transition: variable.$transNormal;
			left: -300px;
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$tbBreak }{
			transition: variable.$transNormal;
			left: -400px;
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$smBreak }{
			transition: variable.$transNormal;
			left: -480px;
		}//@media #{ variable.$pcBreak }
	}//&::before
	&::after {
		top: 0;
		right: 0;
		background: url(../img/common/head_deco_right.png) no-repeat;
		overflow: hidden;
		transition: variable.$transNormal;
		@media #{ variable.$pcBreak }{
			transition: variable.$transNormal;
			right: -300px;
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$tbBreak }{
			transition: variable.$transNormal;
			right: -400px;
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$smBreak }{
			transition: variable.$transNormal;
			right: -480px;
		}//@media #{ variable.$pcBreak }
	}//&::after
	.mod-sitelogo {
		margin: 40px auto 30px;
		a {
			width: 220px;
			height: 279px;
			margin: auto;
			display: block;
			background: url(../img/common/head_logo_over.png) no-repeat;
			img {
				margin: -2px auto auto auto;
				opacity: 1;
				transition: all 1s;
			}
			&:hover {
				img{
					opacity: 0;
					transition: all 1s;
					// display: none;
				}
			}
		}//a
	}//..mod-sitelogo
	.mod-site-search {
		font-size: 2.6rem;
		font-family: variable.$hwebfont;
		position: relative;
		label {
			top: 5px;
			position: relative;
		}
	}//.mod-site-search
	.mod-headside-text {
		top: 210px;
		left: 5%;
		font-size: 1.6rem;
		position: absolute;
		@media #{ variable.$pcBreak }{
			width: 270px;
			height: 55px;
			background: url(../img/common/head_side_text_pc.png) no-repeat;
			left: 10%;
			img { display: none; }
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$tbBreak }{
			width: 190px;
			height: 121px;
			background: url(../img/common/head_side_text_tb.png) no-repeat;
			left: 5%;
			img { display: none; }
		}//@media #{ variable.$tbBreak }
		@media #{ variable.$smBreak }{
			width: 67px;
			height: 55px;
			top: 94px;
			left: 7%;
			background: url(../img/common/head_side_text_sm.png) no-repeat;
			img { display: none; }
		}//@media #{ variable.$smBreak }
	}
	.mod-site-search-inputarea {
		width: 200px;
		margin-top: -5px;
		padding: 5px;
		@media #{ variable.$tbBreak }{
			width: 180px;
		}
		@media #{ variable.$smBreak }{
			width: auto;
		}
	}
	.mod-site-search-inputbt {
		width: 60px;
		height: 26px;
		line-height: 22px;
		font-size: 1.3rem;
		display: inline-block;
		border-style:none;
		border: 1px solid #bbb;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
		background: #e2e2e2; /* Old browsers */
		background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
		position: relative;
		top: 1px;
	}
	&__description {
		font-size: 1.4rem;
	}
}//.lout-header
