@use "../define/variable";
@use "../define/mixins";

.lout-main {
	width: variable.$pcMainWid;
	padding-left: variable.$pcSideWid;
	margin: auto;
	// position: relative;
	z-index: 1;

	@media #{ variable.$pcBreak }{
		width: variable.$pcContentWid;
		padding-left: 0;
	}//@media #{ variable.$pcBreak }
	@media #{ variable.$tbBreak }{
		width: variable.$tbContentWid;
		padding-left: 0;
		transition: variable.$transNormal;
	}//@media #{ variable.$pcBreak }
	@media #{ variable.$smBreak }{
		width: variable.$smContentWid;
		padding-left: 0;
		overflow: hidden;
		transition: variable.$transNormal;
	}//@media #{ variable.$pcBreak }
}
