@use "../define/variable";
@use "../define/mixins";

.lout-sidebar {
	width: variable.$pcSideWid;
	float: right;

	@media #{ variable.$pcBreak }{
		width: variable.$pdSideWid;
		margin: auto;
		float: none;
		clear: both;
	}//@media #{ variable.$pcBreak }
	@media #{ variable.$tbBreak }{
		width: variable.$tbSideWid;
	}//@media #{ variable.$pcBreak }
	@media #{ variable.$smBreak }{
		width: variable.$smSideWid;
	}//@media #{ variable.$pcBreak }
	p {
		font-size: 1.6rem;
		line-height: 1.6;
	}
}//.lout-sidebar
