.mod-widget {
	margin: 30px 0 30px 0;
	background: url(../img/widget_bg.jpg);
	box-sizing: border-box;
	@media #{ $pcBreak }{
		width: $pdSideWid;
		clear: both;
		float: none;
		img {
			width: 25%;
		}
	}//@media #{ $pcBreak }
	@media #{ $tbBreak }{
		width: $tbSideWid;
	}//@media #{ $pcBreak }
	@media #{ $smBreak }{
		width: $smSideWid;
		img {
			width: 100%;
		}
	}//@media #{ $pcBreak }
	dt, dd, img {
		margin: 0;
		padding: 0;
	}//dt, dd
	.mod-widget-title {
		padding: 15px 0;
		font-size: 2.4rem;
		font-weight: normal;
		text-align: center;
		font-family: $hwebfont;
		background: url(../img/widget_h_line.png) repeat-x bottom;
		overflow: hidden;
		box-siziing: border-box;
		@media #{ $pcBreak }{
		}//@media #{ $pcBreak }
		@media #{ $tbBreak }{
			width: $tbSideWid;
			float: none;
		}//@media #{ $pcBreak }
		@media #{ $smBreak }{
			width: $smSideWid;
			float: none;
		}//@media #{ $pcBreak }
	}//.mod-widget-title
	.mod-widget-body {
		padding: 25px;
		font-size: 1.4rem;
		img {
			margin-bottom: 5px;
		}
		a {
			line-height: 1.6;
		}
		p {
			margin: 0 0 20px 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
		time {
			margin-top: 5px;
			font-weight: bold;
			display: block;
		}
		@media #{ $pcBreak }{
			img {
				margin: 0 auto 20px;
				display: block;
			}
			time {
			margin-left: 10px;
			display: inline;
			}
			&:after {
				@include beforeafter;
				clear: both;
			}
		}//@media #{ $pdBreak }
		@media #{ $tbBreak }{
		}//@media #{ $pcBreak }
		@media #{ $smBreak }{
		}//@media #{ $pcBreak }
	}//.mod-widget-body
}//.mod-widget