//-------------------------------
//--scss file
//-------------------------------
body {
	background-image: url(../img/common/bg.jpg);
	overflow-x: hidden;
}

main{
	display: block;
}

//-------------------------------
//postdata
//-------------------------------
h1 {
	margin: 40px auto 30px;
	font-size: 3.0rem;
	font-weight: bold;
}

h2 {
	margin: 90px 0 40px;
	padding: 20px 40px;
	font-size: 2.0rem;
	font-weight: bold;
	line-height: 1.6;
	color: #e11f6a;
	text-align: center;
	background: url(../img/postdata_h2_bg.jpg);
	@include dropshadow;
}
h3 {
	font-size: 2.0rem;
	line-height: 1.8;
	margin: 80px 40px 30px;
	padding-bottom: 10px;
	font-weight: bold;
	text-align: center;
	color: #e11f6a;
	border-bottom: 1px solid #e11f6a;
	@media #{ $pcBreak }{
	}//@media #{ $pcBreak }
	@media #{ $tbBreak } {
	}//@media #{ $tbBreak }
	@media #{ $smBreak }{
		margin: 40px 20px 30px;
	}//@media #{ $smBreak }
}

h4, h5, h6 {
	font-size: 1.8rem;
	line-height: 1.8;
	margin: 80px 40px 30px;
	font-weight: bold;
	text-align: center;
	color: #e11f6a;
	@media #{ $pcBreak }{
	}//@media #{ $pcBreak }
	@media #{ $tbBreak } {
	}//@media #{ $tbBreak }
	@media #{ $smBreak }{
		margin: 40px 20px 30px;
	}//@media #{ $smBreak }
}

div {
	margin: 0 0 40px 0;
}

p {
	font-size: 1.6rem;
	line-height: 1.6;
	margin: 0 40px 30px;
	@media #{ $pcBreak }{
	}//@media #{ $pcBreak }
	@media #{ $tbBreak } {
	}//@media #{ $tbBreak }
	@media #{ $smBreak }{
		margin: 0 20px 30px;
	}//@media #{ $smBreak }
}

blockquote{
	margin: 0 10px 50px 0;
	padding: 40px 20px 20px 20px;
	border-left: 5px solid #b9b9b9;
	font-size: 1.6rem;
	line-height: 1.6;
	color: #666;
	font-style: italic;
	box-sizing: border-box;
	position: relative;
	@media #{ $pcBreak }{
	}//@media #{ $pcBreak }
	@media #{ $tbBreak } {
	}//@media #{ $tbBreak }
	@media #{ $smBreak }{
		margin: 0 10px 25px;
	}//@media #{ $smBreak }
	&::before, &::after{
		font-size: 6.0rem;
		opacity: 0.5;
		color: #898989;
		position: absolute;
		clear: both;
		display: block;
	}
	&::before{
		content: '“';
		top: -5px;
	}

	&::after{
		content: '”';
		right: 10px;
		bottom: -30px;
	}
	p {
		word-wrap: break-word;
	}
}//blockquote

table {
	// width: 100%;
	margin: 0 40px 40px;
	background: url(../img/table_bg.jpg);
	box-sizing: border-box;
	font-size: 1.6rem;
	@include dropshadow;
	@media #{ $pcBreak }{
	}//@media #{ $pcBreak }
	@media #{ $tbBreak } {
	}//@media #{ $tbBreak }
	@media #{ $smBreak }{
		margin: 0 20px 20px;
	}//@media #{ $smBreak }
	tr {
		th, td {
			padding: 14px;
			border-right: 1px solid #c8c8c8;
			vertical-align: middle;
			text-align: left;
			background: url(../img/widget_h_line.png) repeat-x;
			&:last-child {
				border: none;
			}
		}
		th {
			font-weight: bold;
			background-color: rgba(207,207,207,0.50);
		}
		td {
			&::before,
			&::after {
				content: "";
				height: 15px;
				border: none;
				display: table-cell;
			}
		}
	}//tr
	@media #{ $pcBreak }{
	}//@media #{ $pdBreak }
	@media #{ $tbBreak }{
	}//@media #{ $pcBreak }
	@media #{ $smBreak }{
		width: 95%;
		margin: 0 auto 40px;
		box-sizing: border-box;
		display: block;
		clear: both;
		thead {
			display: block;
			float: left;
			overflow-x: scroll;
		}//thead
		tbody {
			display: block;
			width: auto;
			overflow-x: auto;
			white-space: nowrap;
		}//tbody
		tr {
			display: inline-block;
			margin: 0 -3px;
			th, td {
				padding: 20px;
				&:last-child {
					border-right: 1px solid #c8c8c8;
				}
			}
			th {
				box-sizing: border-box;
				display: block;
			}//th
			td {
				// text-align: center;
				display: block;
				&:first-child { text-align: left; }
				&::before,
				&::after {
					height: auto;
				}
			}//td
		}///tr
	}//@media #{ $pcBreak }
}//table

img {
	max-width: 100%;
	height: 100%;
	@media #{ $pcBreak }{
	}//@media #{ $pcBreak }
	@media #{ $tbBreak } {
		max-width: 320px;
	}//@media #{ $tbBreak }
	@media #{ $smBreak }{
	}//@media #{ $smBreak }
}

ul, ol {
	margin: 0 40px 15px 60px;
	padding: 0 0 15px 20px;
	font-size: 1.4rem;
	line-height: 1.6;
	&:last-child { padding-bottom: 0; }
	li { padding-top: 5px; }
	@media #{ $pcBreak }{
		transition: $transNormal;
	}//@media #{ $pcBreak }
	@media #{ $tbBreak }{
		transition: $transNormal;
	}//@media #{ $pcBreak }
	@media #{ $smBreak }{
		margin: 0 20px 20px 20px;
		transition: $transNormal;
	}//@media #{ $pcBreak }
}
ul { list-style-type: disc; }
ol {
	list-style-type: decimal;
	line-height: 1.8;
}
dl {
	margin: 0 40px 40px;
	font-size: 1.4rem;
	line-height: 1.4;
	dt { font-weight: bold; margin-bottom: 10px; }
	dd { margin-left: 20px; }
	@media #{ $pcBreak }{
	}//@media #{ $pcBreak }
	@media #{ $tbBreak } {
	}//@media #{ $tbBreak }
	@media #{ $smBreak }{
		margin: 0 20px 20px;
	}//@media #{ $smBreak }
}

pre {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	white-space: pre-wrap;
	word-wrap: break-word;
	background: url(../img/widget_h_line.png) repeat-x bottom #fff;
	margin-bottom: 20px;
	line-height: 1.4;
}
code {
	background: #d6d6d6;
	padding: 3px 5px;
	font-weight: bold;
}
strong {
	font-weight: bold;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
address {
	padding-left: 40px;
}

iframe {
	max-width: 100%;
}

a {
	// display: inline-block;
}
.imgauto {
	width: auto;
	height: auto;
}
