@use "./variable";

html {
	font-size: variable.$baseSize;
}

body {
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "Yu Mincho", "YuMincho", "ＭＳ Ｐ明朝","MS PMincho", "メイリオ", Meiryo, sans-serif;
	color: variable.$textColor;
}

.required {
	color: #f00;
}
