@use "../define/variable";
@use "../define/mixins";

.fontbox {
	padding: 40px;
	background: url( ../img/block/fontbox_bg.jpg );
	@media #{ variable.$pcBreak }{
	}//@media #{ variable.$pcBreak }
	@media #{ variable.$tbBreak } {
		padding: 20px;
	}//@media #{ variable.$tbBreak }
	@media #{ variable.$smBreak }{
	}
	.ttl {
		margin: 0 0 20px;
		font-size: 2.4rem;
		color: #333;
		border: none;
		@media #{ variable.$pcBreak }{
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$tbBreak } {
			margin-bottom: 10px;
		}//@media #{ variable.$tbBreak }
		@media #{ variable.$smBreak }{
		}
	}
	p {
		font-size: 1.6rem;
		line-height: 1.8;
		@media #{ variable.$pcBreak }{
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$tbBreak } {
			margin: 10px;
		}//@media #{ variable.$tbBreak }
		@media #{ variable.$smBreak }{
		}
	}
}
