@use "../define/variable";
@use "../define/mixins";

.mod-form {
	padding: 0 40px;
	text-align: left;
	line-height: 1.5;
	p {
		padding-bottom: 40px;
		text-align: left;
	}
	label {
	}
	input, textarea {
		width: 100%;
		margin: 5px auto 20px;
		padding: 10px;
		box-sizing: border-box;
	}
	input[type="submit"] {
		margin-bottom: 40px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,e8e8e8+50,cfcfcf+51,dadada+100 */
		background: #fefefe; /* Old browsers */
		background: -moz-linear-gradient(top, #fefefe 0%, #e8e8e8 50%, #cfcfcf 51%, #dadada 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #fefefe 0%,#e8e8e8 50%,#cfcfcf 51%,#dadada 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #fefefe 0%,#e8e8e8 50%,#cfcfcf 51%,#dadada 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
		border: 1px solid #b9b9b9;
		border-radius: 4px;
	}
	@media #{ variable.$pcBreak }{
	}//@media #{ variable.$pcBreak }
	@media #{ variable.$tbBreak }{
	}//@media #{ variable.$pcBreak }
	@media #{ variable.$smBreak }{
		padding: 0 20px;
	}//@media #{ variable.$pcBreak }
}
