.mod-main-content-sub {
	margin-top: -50px;
	background: url(../img/content_sub_bg.jpg);
	position: relative;

	@media #{ $pcBreak }{
		width: $pcContentWid;
		margin: -50px auto auto auto;
		float: none;
		transition: $transNormal;
	}//@media #{ $pcBreak }
	@media #{ $tbBreak }{
		width: $tbContentWid;
		float: none;
		transition: $transNormal;
	}//@media #{ $pcBreak }
	@media #{ $smBreak }{
	}//@media #{ $pcBreak }
	ul, ol {
		margin: 0;
	}
	@include dropshadow;
	.mod-main-content-sub-h {
		text-align: center;
		margin-bottom: 0;
		background: none;
		box-shadow: none;
		font-family: $hwebfont;
		font-size: 2.4rem;
		&::before, &::after {
			width: 157px;
			height: 96px;
			top: 30px;
			position: absolute;
			@include beforeafter;
		}
		&::before {
			left: 40px;
			background: url(../img/mod-subcontent-h-l.png) no-repeat;
		}
		&::after {
			right: 40px;
			background: url(../img/mod-subcontent-h-r.png) no-repeat;
		}
		@media #{ $pcBreak }{
		}//@media #{ $pcBreak }
		@media #{ $tbBreak }{
		}//@media #{ $pcBreak }
		@media #{ $smBreak }{
			&::before, &::after {
				width: (157/2)+px;
				background-size: contain;
			}
			&::before {
				left: 10px;
			}
			&::after {
				right: 10px;
			}
		}//@media #{ $pcBreak }
	}
	.mod-related {
		list-style-type: none;
		margin-left: -10px;
		text-align: center;
		padding: 0;
		.mod-related-item {
			width: 400px;
			margin: 0 0 25px 10px;
			padding: 0;
			text-align: center;
			display: inline-block;
			vertical-align: top;
			dl {
				margin: 0 auto;
				dt {
					margin: 0;
					padding: 0;
					img {
						width: 100%;
						margin: 0;
						padding: 0;
						border: 1px solid #b1a567;
						box-sizing: border-box;
					}
				}
				dd {
					margin: 0;
					padding: 0;
					text-align: left;
					line-height: 1.6;
				}
			}//dl
		}//.mod-related-item
		@media #{ $pcBreak }{
		}//@media #{ $pcBreak }
		@media #{ $tbBreak }{
		}//@media #{ $pcBreak }
		@media #{ $smBreak }{
			.mod-related-item {
				width: auto;
				dl {
					dt {
						width: 100%;
						img {
							max-width: 100%;
							box-sizing: border-box;
						}
					}//dt
					dd {
						padding: 0 10px;
						box-sizing: border-box;
					}
				}//dl
			}
		}
	}//.mod-related
}//.mod-main-content-sub
