.mod-main-content-sub {
	margin-top: -90px;
	background: url(../img/content_sub_bg.jpg);
	position: relative;

	@media #{ $pcBreak }{
		width: $pcContentWid;
		margin: -90px auto auto auto;
		float: none;
		transition: $transNormal;
	}//@media #{ $pcBreak }
	@media #{ $tbBreak }{
		width: $tbContentWid;
		float: none;
		transition: $transNormal;
	}//@media #{ $pcBreak }
	@media #{ $smBreak }{
	}//@media #{ $pcBreak }
	ul, ol {
		margin: 0;
	}
	@include dropshadow;
	.mod-main-content-sub-h {
		text-align: center;
		margin-bottom: 0;
		background: none;
		box-shadow: none;
		font-family: $hwebfont;
		font-size: 2.4rem;
		&::before, &::after {
			width: 157px;
			height: 96px;
			top: 30px;
			position: absolute;
			@include beforeafter;
		}
		&::before {
			left: 40px;
			background: url(../img/mod-subcontent-h-l.png) no-repeat;
		}
		&::after {
			right: 40px;
			background: url(../img/mod-subcontent-h-r.png) no-repeat;
		}
		@media #{ $pcBreak }{
		}//@media #{ $pcBreak }
		@media #{ $tbBreak }{
		}//@media #{ $pcBreak }
		@media #{ $smBreak }{
			&::before, &::after {
				width: (157/2)+px;
				background-size: contain;
			}
			&::before {
				left: 10px;
			}
			&::after {
				right: 10px;
			}
		}//@media #{ $pcBreak }
	}
	div {
		text-align: left;
	}
}//.mod-main-content-sub
