@use "../define/variable";
@use "../define/mixins";
@use "sass:math";

.mod-main-content-sub {
	margin-top: -90px;
	background: url(../img/content_sub_bg.jpg);
	position: relative;

	@media #{ variable.$pcBreak }{
		width: variable.$pcContentWid;
		margin: -90px auto auto auto;
		float: none;
		transition: variable.$transNormal;
	}//@media #{ variable.$pcBreak }
	@media #{ variable.$tbBreak }{
		width: variable.$tbContentWid;
		float: none;
		transition: variable.$transNormal;
	}//@media #{ variable.$pcBreak }
	@media #{ variable.$smBreak }{
	}//@media #{ variable.$pcBreak }
	ul, ol {
		margin: 0;
	}
	@include mixins.dropshadow;
	.mod-main-content-sub-h {
		text-align: center;
		margin-bottom: 0;
		background: none;
		box-shadow: none;
		font-family: variable.$hwebfont;
		font-size: 2.4rem;
		&::before, &::after {
			width: 157px;
			height: 96px;
			top: 30px;
			position: absolute;
			@include mixins.beforeafter;
		}
		&::before {
			left: 40px;
			background: url(../img/mod-subcontent-h-l.png) no-repeat;
		}
		&::after {
			right: 40px;
			background: url(../img/mod-subcontent-h-r.png) no-repeat;
		}
		@media #{ variable.$pcBreak }{
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$tbBreak }{
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$smBreak }{
			&::before, &::after {
				width: math.div(157, 2)+px;
				background-size: contain;
			}
			&::before {
				left: 10px;
			}
			&::after {
				right: 10px;
			}
		}//@media #{ variable.$pcBreak }
	}
	div {
		text-align: left;
	}
}//.mod-main-content-sub
