@use "../define/variable";
@use "../define/mixins";

.mod-container {
	width: variable.$pcContentWid;
	margin: auto;
	@media #{ variable.$pcBreak }{
		width: variable.$pcContentWid;
	}//@media #{ variable.$pcBreak }
	@media #{ variable.$tbBreak }{
		width: variable.$tbContentWid;
	}//@media #{ variable.$pcBreak }
	@media #{ variable.$smBreak }{
		width: variable.$smContentWid;
	}//@media #{ variable.$pcBreak }
}