.metasns {
	display: inline-block;
	margin: 5px auto 6px 0;
	@media #{ $pcBreak }{
	}//@media #{ $pcBreak }
	@media #{ $tbBreak }{
		width: auto;
		max-width: 550px;
		transition: $transNormal;
	}//@media #{ $pcBreak }
	@media #{ $smBreak }{
		// width: 300px;
		// margin-left: 50px !important;
		transition: $transNormal;
	}//@media #{ $pcBreak
	&-item {
		a {
			width: 75px;
			height: 35px;
			margin-top: 11px;
			padding: 8px 6px 11px 8px;
			background: url(../img/share/metasns_btbg.png) no-repeat;
			text-decoration: none;
			display: inline-block;
			box-sizing: border-box;
		}
		&-set {
			vertical-align: middle;
			dt {
				display: inline;
				img {
					border: none;
					display: inline;
				}
			}
			dd {
				width: 56%;
				text-align: right;
				display: inline-block;
				vertical-align: top;
			}
		}//&-set
	}//&-item
	&-hateb {
		width: 15px;
		height: 15px;
		@media #{ $smBreak }{
		}
	}
	&-tw {
		width: 18px;
		height: 14px;
		@media #{ $smBreak }{
		}
	}
	&-fb {
		width: 14px;
		height: 14px;
		@media #{ $smBreak }{
		}
	}
	&-pocket {
		width: 14px;
		height: 14px;
		@media #{ $smBreak }{
		}
	}
	// li {
	// 	margin: 0 3px 0 3px;
	// 	padding: 5px 0;
	// 	display: inline-block !important;
	// 	overflow: hidden !important;
	// }
	iframe {
		margin: 0 !important;
		html {
			width: 60px !important;
		}
	}

	.pluginSkinLight {
		width: auto !important;
	}
	.likeb {
		width: 118px;
		div {
			margin: 0;
			padding: 0;
		}
	}

	.googleplusb div {
		width: 30px !important;
	}

}//metasns
.mod-content-share {
	@include dropshadow;
	@include reset;
	width: 100%;
	height: 55px;
	line-height: 48px;
	// padding-top: 14px;
	font-size: 2.0rem;
	text-align: center;
	background: url(../img/content_share_bg.jpg);
	position: relative;
	z-index: 10;
	ul {
		margin: auto;
		// vertical-align: middle;
		li {
			margin-right: 10px;
			display: inline;
			font-size: 1.4rem;
		}
	}

	@media #{ $pcBreak }{
		transition: $transNormal;
	}//@media #{ $pcBreak }
	@media #{ $tbBreak }{
		width: $tbContentWid;
		transition: $transNormal;
	}//@media #{ $pcBreak }
	@media #{ $smBreak }{
		width: $smContentWid;
		min-height: 55px;
		height: auto;
		line-height: auto;
		transition: $transNormal;
		ul {
			// padding-top: 10px;
		}
	}//@media #{ $pcBreak
}//.mod-content-share

.mod-content-share-end {
	// margin-left: 160px;
	// text-align: left;
	@media #{ $pcBreak }{
	}//@media #{ $pcBreak }
	@media #{ $tbBreak }{
	}//@media #{ $pcBreak }
	@media #{ $smBreak }{
		margin: auto;
		width: 80%;
	}//@media #{ $pcBreak }
}
