@use "../define/variable";
@use "../define/mixins";

.mod-title-line {
	@include mixins.reset;
	width: 100%;
	padding: 55px 0;
	background: url(../img/title_line_bg.jpg);
	position: relative;
	z-index: 10;
	h2 {
		margin: 0;
		padding: 0;
		background: none;
		box-shadow: none;
		@media #{ variable.$pcBreak }{
			transition: variable.$transNormal;
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$tbBreak }{
			width: variable.$tbContentWid;
			transition: variable.$transNormal;
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$smBreak }{
			width: variable.$smContentWid;
		}//@media #{ variable.$pcBreak
	}
	.mod-container {
		width: 600px;
		@media #{ variable.$pcBreak }{
			transition: variable.$transNormal;
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$tbBreak }{
			width: variable.$tbContentWid;
			max-width: 600px;
			padding: 20px;
			box-sizing: border-box;
			transition: variable.$transNormal;
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$smBreak }{
			width: variable.$smContentWid;
			padding: 20px;
			box-sizing: border-box;
		}//@media #{ variable.$pcBreak
	}
}//.mod-title-line

.mod-title-line-time {
	font-size: 2.0rem;
	color: #b7b7b7;
		@media #{ variable.$pcBreak }{
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$tbBreak }{
			width: 180px;
			margin: auto;
			text-align: center;
			display: block;
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$smBreak }{
		}//@media #{ variable.$pcBreak
}//.mod-title-line-time

.mod-title-line-meta {
	@include mixins.reset;
	color: #b7b7b7;
	font-size: 1.4rem;
	text-align: right;
	float: right;
	@media #{ variable.$pcBreak }{
	}//@media #{ variable.$pcBreak }
	@media #{ variable.$tbBreak }{
		text-align: center;
		margin-top: 5px;
		float: none;
	}//@media #{ variable.$pcBreak }
	@media #{ variable.$smBreak }{
	}//@media #{ variable.$pcBreak }
	li { display: inline; }
	dl { display: inline; }
	dt { display: inline; }
	dd { display: inline;}
	a {
		margin: auto;
		&:link,&:visited { color: #b7b7b7; }
		&:hover{ color: #a9a9a9; }
	}
}

.mod-title-line-title {
	margin: 10px auto !important;
	line-height: 1.6;
	color: #fff;
	text-align: center;
	font-size: 2.4rem;
	box-shadow: none;
	transition: variable.$transNormal;
	a {
		border: 1px solid #fff;
		padding: 30px;
		border-radius: 5px;
		// font-size: 2.0rem;
		display: block;
		&:link, &:visited {
			color: #fff;
			@include mixins.opacity-bk( 0.5 );
		}
		&:hover {
			color: #ccc;
			background: #fff;
			@include mixins.opacity-wh( 0.2 );
		}
	}
}
