@use "../define/variable";
@use "../define/mixins";

// @import url('https://fonts.googleapis.com/css?family=Kosugi|Kosugi+Maru|M+PLUS+1p|M+PLUS+Rounded+1c|Noto+Sans+JP|Noto+Serif+JP|Sawarabi+Gothic|Sawarabi+Mincho&subset=japanese');
.noto-sans { font-family: 'Noto Sans JP', sans-serif; }
.noto-serif{ font-family: 'Noto Serif JP', sans-serif; }
.sawarabi-mincho {font-family: 'Sawarabi Mincho', sans-serif; }
.sawarabi-gothic { font-family: 'Sawarabi Gothic', sans-serif; }
.m-plus-1p { font-family: 'M PLUS 1p', sans-serif; }
.m-plus-round-1c { font-family: 'M PLUS Rounded 1c', sans-serif; }
.kosugi { font-family: 'Kosugi', sans-serif; }
.kosugi-maru { font-family: 'Kosugi Maru', sans-serif; }

@font-face{
	font-family: 'oradano'; /* お好きな名前にしましょう */
	src: url('../font/OradanoGSRR.eot'); /* IE9以上用 */
	src:
		url('../font/OradanoGSRR.woff') format('woff'), /* モダンブラウザ用 */
		url('../font/OradanoGSRR.ttf') format('truetype'); /* iOS, Android用 */
	font-weight: normal; /* 念の為指定しておきます */
	font-style: normal;
}
.oradano {
	font-family: 'oradano';
}
