.alignright {
	display: block;
	float: right;
	margin: {
		left: 10px;
	}
}

.alignleft {
	display: block;
	float: left;
	margin: {
		right: 20px;
	}
}

.aligncenter {
	margin: 0 auto;
	display: block;
}

//
.post-categories {
	display: inline;
	li {
		padding-right: 5px;
	}
}

.wp-post-image {
	max-width: 100%;
	margin-bottom: 40px;
}

.wp-caption {
	width: auto;
}

.wp-caption-text {
	width: auto;
}

.sticky {
	width: auto;
}
.gallery-caption {
	width: auto;
}
.bypostauthor {
	width: auto;
}

.screen-reader-text {
	width: auto;
}
