.alignright {
	display: block;
	float: right;
	margin: {
		left: 10px;
	}
}

.alignleft {
	display: block;
	float: left;
	margin: {
		right: 20px;
	}
}

.aligncenter {
	margin: 0 auto;
	display: block;
}

//
.post-categories {
	display: inline;
	li {
		padding-right: 5px;
	}
}

.wp-post-image {
	max-width: 100%;
	margin: auto auto 40px auto;
	display: block;
}

.wp-caption {
	width: auto;
}

.wp-caption-text {
	width: auto;
}

.sticky {
	width: auto;
}
.gallery-caption {
	width: auto;
}
.bypostauthor {
	width: auto;
}

.screen-reader-text {
	width: auto;
}

img {
	margin: 10px auto auto auto;
	display: block;
	@media #{ $pcBreak }{
	}//@media #{ $pcBreak }
	@media #{ $tbBreak } {
	}//@media #{ $tbBreak }
	@media #{ $smBreak }{
		width: 100%;
		margin: auto;
		display: block;
		// margin: 0;
	}//@media #{ $smBreak }
}

div {
	// text-align: center;
}
.fontbox {
	font-size: 1.6rem;
	line-height: 1.6;
	margin: 0 40px 30px;
	padding: 30px 0;
	text-align: left;
	background: #f3f3f3;
	@media #{ $pcBreak }{
		text-align: left;
	}//@media #{ $pcBreak }
	@media #{ $tbBreak } {
		text-align: left;
	}//@media #{ $tbBreak }
	@media #{ $smBreak }{
		margin: 0 20px 30px;
		text-align: left;
	}//@media #{ $smBreak }
	p {
		margin: 0 30px;
		padding-bottom: 15px;
		text-align: left;
		&:last-child {
			padding-bottom: 0;
		}
		@media #{ $pcBreak }{
			text-align: left;
		}//@media #{ $pcBreak }
		@media #{ $tbBreak } {
			text-align: left;
		}//@media #{ $tbBreak }
		@media #{ $smBreak }{
			text-align: left;
		}
	}
}

table {
	width: calc( 100% - 80px );
	box-sizing: border-box;
	td {
		line-height: 1.6;
	}
	@media #{ $pcBreak }{
	}//@media #{ $pcBreak }
	@media #{ $tbBreak } {
	}
	@media #{ $smBreak }{
		width: calc( 100% - 40px );
		word-wrap: break-word;
		overflow-wrap : break-word;
		word-break: break-all;
		tr {
			word-wrap:break-word;
			word-break: break-all;
			display: block;
		}
		td {
			max-width: 360px;
			width: calc( 100% - 40px );
			// margin: auto 20px;
			white-space: normal;
			word-wrap: break-word;
			overflow-wrap: break-word;
			word-break: break-all;
			// display : block;
		}
	}//@media #{ $pcBreak }
}

.syntaxhighlighter {
	@media #{ $pcBreak }{
	}//@media #{ $pcBreak }
	@media #{ $tbBreak } {
	}
	@media #{ $smBreak }{
		margin: auto 40px !important;
		padding: 10px 0;
		caption {
			display: inline !important;
		}
		table {
			padding: 10px !important;
			tbody {
				padding-top: 10px !important;
			}
			tr {
				td {
					min-width: auto !important;
					width: auto !important;
					display: table-cell !important;
				}
			}
		}
	}
}
.crayon-syntax {
	@media #{ $pcBreak }{
		width: calc( 100% - 80px );
		margin-left: 40px;
	}
}
.crayon-num {
	@media #{ $smBreak }{
		display: none;
	}
}

.twitter-tweet {
	margin: auto;
}
