.wp-block-video {
	video {
		padding: 20px;
		box-sizing: border-box;
	}
}
.wp-block-embed-youtube {
	padding: 20px;
	box-sizing: border-box;
	figcaption {
		line-height: 1.6;
	}
}
.lout-main-contents .lout-main-contents-postdata .wp-block-embed__wrapper {
	margin-bottom: 10px;
}
.rll-youtube-player {
	// padding-bottom: 10px;
	padding-bottom: 56.23%;
}
