@use "../define/variable";
@use "../define/mixins";

//! Galleries
.wp-block-gallery {
	width: 100%;
	margin: 0;
	padding: 20px 40px;
	list-style-type: none;
	box-sizing: border-box;
	display: flex;
	@media #{ variable.$pcBreak }{
	}//@media #{ variable.$pcBreak }
	@media #{ variable.$tbBreak } {
	}//@media #{ variable.$tbBreak }
	@media #{ variable.$smBreak }{
		padding: 20px;
	}//@media #{ variable.$smBreak }

	.blocks-gallery-item {
		padding: 0;
	}


	.blocks-gallery-image:last-child,
	.blocks-gallery-item:last-child {
		@media #{ variable.$pcBreak }{
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$tbBreak } {
		}//@media #{ variable.$tbBreak }
		@media #{ variable.$smBreak }{
		}//@media #{ variable.$smBreak }
	}

	figcaption a {
		color: #fff;
		@media #{ variable.$pcBreak }{
		}//@media #{ variable.$pcBreak }
		@media #{ variable.$tbBreak } {
		}//@media #{ variable.$tbBreak }
		@media #{ variable.$smBreak }{
		}//@media #{ variable.$smBreak }
	}
}

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
	// font-size: $font__size-xs;
	// line-height: $font__line-height-pre;
	// margin: 0;
	// padding: ( $size__spacing-unit * .5 );
	// text-align: center;
}
