.lout-main-contents {
	width: $pcContentWid;
	margin-bottom: 60px;
	position: relative;
	z-index: 2;
	box-sizing: border-box;
	float: left;

	@media #{ $pcBreak }{
		width: $pcContentWid;
		margin: auto;
		float: none;
		transition: $transNormal;
	}//@media #{ $pcBreak }
	@media #{ $tbBreak }{
		width: $tbContentWid;
		transition: $transNormal;
	}//@media #{ $pcBreak }
	@media #{ $smBreak }{
		width: $smContentWid;
	}//@media #{ $pcBreak }

	.lout-main-contents-postdata {
		padding-top: 30px;
		font-size: 1.4rem;
		background: #fff;
		background-color: rgba(255,255,255,0.50);

		.eyecatch {
			width: 100%;
			display: block;
		}

		.lout-content-ad {
			background: url(../img/content_ad_bg.jpg);
			text-align: center;
			img {
				width: 40%;
				@media #{ $pcBreak }{
				}//@media #{ $pcBreak }
				@media #{ $tbBreak }{
				}//@media #{ $pcBreak }
				@media #{ $smBreak }{
					width: 50%;
				}//@media #{ $pcBreak }
			}
		}

		.lout-content-share {
			height: 20px;
			.mod-content-sub-title {
				margin-top: 0;
				top: -40px;
				// position: relative;
			}
			ul {
				margin: 0;
				padding: 0;
				@media #{ $pcBreak }{
				}//@media #{ $pcBreak }
				@media #{ $tbBreak }{
				}//@media #{ $pcBreak }
				@media #{ $smBreak }{
					margin-left: 50px;
				}//@media #{ $pcBreak }
			}
		}//.mod-content-share

	}//.lout-main-contents-postdata

	.deco {
		height: 184px;
		position: relative;
		left: 50%;
		margin-left: -60px;
		z-index: 15;

		img {
			width: 162px;
			height: 184px;
		}
	}

}//.lout-main-contents


.lout-main-contents-postdata-sub {
	margin: 90px 0 60px;
	@include dropshadow;
	.mod-content-sub-title {
		width: 197px;
		height: 63px;
		// top: -50px;
		margin: -20px 0 -20px -40px;
		text-align: center;
		padding: 35px 0 0 40px;
		font-size: 2.0rem;
		background: url(../img/content_sub_h.png) no-repeat;
		box-shadow: none;
		font-family: $hwebfont;
		// position: relative;
		position: absolute;
		@media #{ $pcBreak }{
		}//@media #{ $pcBreak }
		@media #{ $tbBreak }{
		}//@media #{ $pcBreak }
		@media #{ $smBreak }{
			width: (197/2)+px;
			padding: 20px 0 0 50px;
			background-size: contain;
		}//@media #{ $pcBreak }
	}//h2
	ul{
		margin: 0 0 30px 10px;
		padding: 0 0 0 20px;
		font-size: 1.4rem;
		line-height: 1.4;
		list-style-type: none;
		li {
			margin: 0 20px 0 auto;
			display: inline;
			img {
			}
		}//li
		@media #{ $pcBreak }{
		}//@media #{ $pcBreak }
		@media #{ $tbBreak }{
			li {
				margin: 0;
			}
		}//@media #{ $pcBreak }
		@media #{ $smBreak }{
			margin: 0 0 0 -20px;
			li {
				img {
					width: 80%;
				}
			}
		}//@media #{ $pcBreak }

	}//ul
}//.lout-main-contents-postdata-sub


.lout-archive-contents {
	width: $pcContentWid;
	margin-bottom: 60px;
	position: relative;
	z-index: 2;
	box-sizing: border-box;
	background: #fff;
	background-color: rgba(255,255,255,0.50);
	float: left;

	@media #{ $pcBreak }{
		width: $pcContentWid;
		margin: auto;
		float: none;
		transition: $transNormal;
	}//@media #{ $pcBreak }
	@media #{ $tbBreak }{
		width: $tbContentWid;
		transition: $transNormal;
	}//@media #{ $pcBreak }
	@media #{ $smBreak }{
		width: $smContentWid;
	}//@media #{ $pcBreak }
}//.lout-archive-contents