.lout-main {
	width: $pcMainWid;
	padding-left: $pcSideWid;
	margin: auto;
	// position: relative;
	z-index: 1;

	@media #{ $pcBreak }{
		width: $pcContentWid;
		padding-left: 0;
	}//@media #{ $pcBreak }
	@media #{ $tbBreak }{
		width: $tbContentWid;
		padding-left: 0;
		transition: $transNormal;
	}//@media #{ $pcBreak }
	@media #{ $smBreak }{
		width: $smContentWid;
		padding-left: 0;
		overflow: hidden;
		transition: $transNormal;
	}//@media #{ $pcBreak }
}
